@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
:root{
  --main-color:#dc3545;
  --main-transition:0.3s
}
*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  border: none;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Rubik', sans-serif;
  /* font-size: 80%; */
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: white;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
}
button{
  background-color: transparent;
}
.form-control:focus{
  box-shadow: none;
  border: none;
}
.overflow-ellipsis{
  text-overflow: ellipsis !important;
}

.main{
  margin-left: 18rem;
}

